:root{
    /*Colors*/
    --main-color: #006794;
    --background-color: #f5f5f5;
    --none-color: rgba(0 0 0 0);

    /*Size*/
    --padding: 1.25rem;
    --small-padding: 1rem;

    /*Font Size*/
    --font-medium: 0.8rem;
    --font-large: 1rem;
}

body{
    font-family: 'Noto Serif KR', serif;
    font-size: var(--font-medium);
    color: var(--main-color);
    background-color: var(--background-color);
}
a{
    color: var(--main-color);
}
button{
    border: none;
    cursor: pointer;
    outline: none;
    background-color: var(--none-color);
}

.Container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
.toggle_btn{
    display: none;
    position: absolute;
    top: var(--padding);
    right: var(--padding);
    font-size: var(--padding);
}
/*Main Tickets*/
.MainContents{
    flex-basis: 66%;
    padding: 0 var(--padding);
}
.Title, .Sname{
    padding: var(--padding) 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--font-large);
}
.Tickets{
    display: flex;
    flex-direction: column;
}
.Tickets>li{
    display: flex;
    min-height: 200px;
    padding: var(--padding) 0;
    border-top: 1px dashed var(--main-color);
}
.img{
    flex-basis: 60%;
}
.img img{
    width: 100%;
    height: auto;
}
.Comments{
    flex-basis: 40%;
}
.DateAndPoint{
    flex-basis: 10%;
}
.Comments, .DateAndPoint{
    display: flex;
    flex-direction: column;
    line-height: 180%;
}
.Comments{
    padding: 0 var(--padding);
    justify-content: space-between;
}
.Ctitle, .Date{
    padding-bottom: calc(var(--small-padding)/2);
}
.Cgroup{
    display: flex;
    flex-direction: column;
}
.Ctext{
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.MoreBnt{
    align-self: start;
    font-family: 'Noto Serif KR', serif;
    font-size: (var(--font-medium));
    color: var(--main-color);
    text-align: left;
    text-decoration: underline;
    padding: 0;
}
.Point{
    margin-top: calc(var(--small-padding));
}
.PointBall{
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: var(--main-color);
    margin-bottom: calc(var(--small-padding)/4);
}
/*Side Footer*/
.SideContents{
    height: 100%;
    position: sticky;
    top: 0;
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    padding-right: var(--padding);
}
.Profil{
    padding: var(--padding) 0;
    height: 201px;
    border-top: 1px dashed var(--main-color);
    display: flex;
    flex-direction: column;
}
.Ptitle{
    padding-bottom: var(--padding);
    text-transform: uppercase;
}
.Pinfo{
    line-height: 180%;
}
.Menu{
    display: flex;
    padding: var(--padding) 0;
    height: 200px;
    border-top: 1px dashed var(--main-color);
}
.Mtitle{
    flex-basis: 50%;
    text-transform: uppercase;
}
.Mlist{
    flex-basis: 50%;
}
.Mlist li{
    padding: calc(var(--padding)/4) 0;
}
footer{
    padding-top: var(--padding);
    border-top: 1px dashed var(--main-color);
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icons{
    display: flex;
    justify-content: space-around;
}
.footer_g{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer_logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: var(--small-padding);
}
.copyright{
    font-size: calc(var(--font-medium)/2);
}

/*반응형 media queries*/
@media screen and (max-width: 768px){
    .Container{
        display: block;
        margin: 0 var(--padding);
        width: auto;
    }
    .toggle_btn{
        display: block;
    }
    .MainContents{
        display: block;
        padding: 0;
        width: 100%;
    }
    /*Side*/
    .SideContents{
    display: none;
    }
    /*Main Tickets*/
    .Tickets>li{
        flex-direction: column;
    }
    .Comments{
        padding: var(--padding) 0;
    }
    .Point{
        display: flex;
    }
    .PointBall{
        margin-right: calc(var(--small-padding)/4);
    }
    /*Footer*/
}